html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Merienda', cursive;
    background-color: #000;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

h2 {
    text-align: center;
    margin: 60px auto 100px auto;
    color: #EB9560;
    font-size: 44px;
}

h3 {
    margin: 0 auto;
    align-self: center;
    opacity: 0;
    transition: 0.75s;
    font-size: 260%;
}

h3:hover {
    opacity: 1;
    transition: 1s;
}

h5 {
    text-transform: uppercase;
}

p {
    font-size: 13px;
}

.col,
.col-md-6,
.col-md-4 {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: #EB9560 !important;
}


/* Header */

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #000;
}

.header-background {
    background-image: url(images/Bar-brasserie.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.call-to-action {
    position: relative;
    top: 50%;
    color: white;
    text-align: center;
    justify-content: center;
}

.call-to-action-btn {
    max-width: 500px;
    margin-top: 50px !important;
}

.round-btn {
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px 15px;
    border: 2px #fff solid;
    background-color: #EB9560;
    color: #fff;
    transition: 1s;
}

.round-btn a {
    text-decoration: none;
    color: #fff !important;
}

.round-btn:hover {
    background-color: transparent;
    transition: 1s;
}

.square-btn {
    justify-content: center;
    margin-top: 15px;
    padding: 5px 15px;
    border: 2px #fff solid;
    background-color: #EB9560;
    color: #fff;
    transition: 1s;
}

.square-btn:hover {
    background-color: transparent;
    transition: 1s;
}

.navbar-brand img {
    max-width: 150px;
}

.title-section {
    margin: 0;
    padding: 0;
}

.title-section h2 {
    position: relative;
    height: 50vh;
    top: 40%;
    text-align: center;
    color: white;
    font-size: 300%;
    font-weight: bold;
}

#gamme {
    background-image: url(images/Gamme.png);
    width: 48%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 15px 0 0 !important;
}

#valeurs {
    background-image: url(images/baril.jpg);
    width: 49%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 5px 5px auto !important;
}

#event {
    background-image: url(images/Evenement.jpg);
    width: 49%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0 5px auto !important;
}

#savoir {
    background-image: url(images/brasserie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 8px 0 0 8px !important;
}


/* Footer */

footer {
    margin-top: 40px;
    color: #EB9560;
}

footer i {
    margin: 5px 6px 15px 6px;
}

.informations {
    text-align: center;
}

.informations img,
.informations iframe {
    max-width: 100%;
    max-height: 100%;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}

i:hover {
    transform: scale(1.5);
}


/* Page valeurs*/

.parallax-valeurs {
    background-image: url(images/baril.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}

.savoir-wrapper {
    display: flex;
    flex-direction: column;
    width: 33vw;
    margin: 0 100px 0 auto;
    text-align: center;
    justify-content: center;
}


/* Page compétences */

.skill-wrapper {
    border: 20px#fff solid;
    padding: 0px 9px 0px 12px;
}

.skill-wrapper img {
    max-width: 100%;
}

.row1-cut {
    height: 433px;
}

#brewery {
    display: flex;
    width: 49%;
    background-image: url(images/brasserie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px 5px 0 !important;
}

#malt-hop {
    display: flex;
    background-image: url(images/malts-houblon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 5px 5px !important;
}

.row2-cut {
    height: 973px;
}

#malt {
    display: flex;
    width: 49%;
    background-image: url(images/malt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 5px 5px 0 !important;
}

#testing {
    display: flex;
    background-image: url(images/stout_tester-684x1024.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0 5px 5px !important;
}

.row3-cut {
    height: 779px;
}

#tasting {
    display: flex;
    width: 49%;
    background-image: url(images/Tasting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 5px 0 0 !important;
}

#skill-gamme {
    display: flex;
    background-image: url(images/Gamme.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0 0 5px !important;
}


/* Page Eco-responsable*/

.parallax-eco {
    background-image: url(images/houblon-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}


/*Page Produits */

.pilsner {
    display: flex;
    align-self: center;
    background-image: url(images/fond-myrtille.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    margin: 0 0 70px 0 !important;
}

.black {
    display: flex;
    align-self: center;
    background-image: url(images/grains-cafe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    margin: 70px 0 !important;
}

.jasmin {
    display: flex;
    align-self: center;
    background-image: url(images/Jasmin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    margin: 70px 0 !important;
}

.beer {
    display: flex;
    align-items: center;
    align-self: center;
    width: 45vw;
    height: 40vh;
    margin: 0 50px 0 auto;
}

.beer img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 100px;
    transition: 1.5s;
}

.beer img:hover {
    transform: rotate(60deg);
    transition: 1.5s;
}

.beer p {
    font-size: 16px;
}

.beer-pos1 {
    margin: 0 auto 0 auto;
}

.beer-pos2 {
    margin: 0 110px 0 auto;
}

.beer-pos3 {
    margin: 0 auto 0 110px;
}


/*Event */

.event-bg {
    display: flex;
    align-self: center;
    background-image: url(images/salle-reception.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    margin: 0 0 70px 0 !important;
}

.event-wrapper {
    width: 15%;
    height: auto;
}

.event-wrapper h4 {
    text-align: center;
}

.event-wrapper p {
    text-align: justify;
}

.box1,
.box2 {
    border: 2px #fff solid;
    border-radius: 10px;
    padding: 15px 20px !important;
}

.box1 {
    position: absolute;
    top: 5vh;
    left: 5vw;
}

.box2 {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}


/* Contact */

.form-wrapper {
    border: 20px #fff solid;
    width: 75% !important;
    padding: 0 !important;
    margin: 0 auto;
}

.form-centered {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form button {
    margin-bottom: 40px;
}


/* Media queries */

@media screen and ( max-width: 768px) {
    #gamme {
        margin: 10px 0 0 0 !important;
    }
    .call-to-action {
        top: 25%;
    }
    .event-wrapper {
        width: 40%;
        height: 80%;
    }
    .savoir-wrapper {
        width: 100vw;
    }
    h2 {
        font-size: 22px !important
    }
    h3 {
        font-size: 36px;
    }
    h5 {
        font-size: 13px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 11px;
    }
    #brewery,
    #malt,
    #tasting {
        width: 100%;
        margin: 0 !important;
    }
    #malt-hop,
    #testing,
    #skill-gamme {
        margin: 0 !important;
    }
    .row1-cut {
        height: 1185px;
    }
    .row2-cut,
    .row3-cut {
        height: 1600px;
    }
    h3 {
        opacity: 1;
    }
    .beer {
        width: 100vw;
    }
    .beer-pos1,
    .beer-pos2,
    .beer-pos3 {
        margin: 0 auto 0 auto;
    }
    .beer img {
        margin-right: 0;
    }
    .beer p {
        font-size: 13px;
    }
    .beer img:hover {
        transform: none;
    }
}

@media screen and ( min-width: 768px) and (max-width: 992px) {
    .savoir-wrapper {
        width: 100vw;
    }
    h5 {
        font-size: 15px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .event-wrapper {
        width: 30%;
    }
    .beer {
        width: 100vw;
    }
    .beer-pos1,
    .beer-pos2,
    .beer-pos3 {
        margin: 0 auto 0 auto;
    }
    .beer img:hover {
        transform: none;
    }
    #brewery,
    #malt,
    #tasting {
        width: 100%;
        margin: 0 !important;
    }
    #malt-hop,
    #testing,
    #skill-gamme {
        margin: 0 !important;
    }
    .row1-cut {
        height: 1185px;
    }
    .row2-cut,
    .row3-cut {
        height: 1600px;
    }
    h3 {
        opacity: 1;
    }
}